.header{
    background-color: rosybrown;
    display: grid;
    text-align: center;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
html{
    background-color: rosybrown;
}
.dropdown{
    background-color: rosybrown;
}
.dropdown-menu{
    background-color: wheat;
}
.table-bordered{
    background-color: wheat;
}
.Home{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.About{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 45px;
}
.ContactUs{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.flex-container{
    display:flex;
    justify-content: space-between;
    justify-content: space-around;
    margin-right: 50px;
background-color: rosybrown;
border-color: rosybrown;
}
    li{
        list-style: none;
    }