.header{
    background-color: rosybrown;
    display: grid;
    text-align: center;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
html{
    background-color: rosybrown;
}
.dropdown{
    background-color: rosybrown;
}
.dropdown-menu{
    background-color: wheat;
}
.table-bordered{
    background-color: wheat;
}