.Home{
    color: black;
}
.flex-container{
    display:flex;
    justify-content: space-between;
}
.header{
    display: flex; 
    justify-content:center;
    align-items: center;
    color: red;
}
li{
    list-style: none;
};
