.Home{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.ShopAll{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.FAQs{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.flex-container{
    display:flex;
    justify-content: space-between;
    justify-content: space-around;
    margin-right: 100px;
}
.header{
    display: flex; 
    justify-content:center;
    align-items: center;
    font-style: italic;
}
li{
    list-style: none;
}
.section{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}